<nav class="bar bar-nav">
  {{#link-to 'tweets' model.channel tagName='button' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
    Noticias
  {{/link-to}}
  {{#link-to 'tweet.comment' tagName='button' class='btn btn-link btn-nav pull-right'}}
    <span class="icon icon-compose"></span>
    Comentar
  {{/link-to}}
</nav>

<div class="content">
  <article class="content-padded">
    <h1 class="tweet-text">{{model.formattedText}}</h1>
    <button type="button" class="btn btn-positive">
      &Uacute;til
      <span class="icon icon-star"></span>
    </button>
    {{#link-to 'tweet.share' tagName='button' class='btn'}}
      <span class="icon icon-share">Compartir...</span>
    {{/link-to}}
    
    <button type="button" class="btn btn-negative pull-right">
      Reportar...
    </button>

    <ul id="comments">
      <li class="comment"></li>
    </ul>
  </article>
</div>