<nav class="bar bar-nav">
  {{#link-to 'tweets' model.channel tagName='button' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
    Noticias
  {{/link-to}}
  {{#link-to 'tweet.share' tagName='button' class='btn btn-link btn-nav pull-right'}}
    <span class="icon icon-edit"></span>
    Cambiar ubicaci&oacute;n
  {{/link-to}}
</nav>

<div class="content">
{{#if controller.model.coordinates.coordinates}}
  <iframe class="map" {{bind-attr src=mapURL}}></iframe>
{{else}}
  <article class="content-padded">
    <p>No hay informaci&oacute;n geogr&aacute;fica &#x2639;</p>
  </article>
{{/if}}
</div>