@font-face {
  font-family: "Flaticon";
  src: url("fonts/flaticon.eot");
  src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("fonts/flaticon.woff") format("woff"),
  url("fonts/flaticon.ttf") format("truetype"),
  url("fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-chat:before {
  content: "\e000";
}
.flaticon-clock:before {
  content: "\e001";
}
.flaticon-image:before {
  content: "\e002";
}
.flaticon-info:before {
  content: "\e003";
}
.flaticon-pin:before {
  content: "\e004";
}
