/* Imports */

@import "compass";
@import "../bower_components/ratchet/sass/ratchet";
@import "CSS:flaticon";
@import "CSS:jquery.toast";
/* http://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file */

/* Mixins */

/* https://gist.github.com/ericam/1607696 */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation-duration($seg) {
  -webkit-animation-duration: $seg;
  -moz-animation-duration: $seg;
  animation-duration: $seg;
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  animation-name: $name;
}


/* Variables */

$actionbar-blue-1: #5476E8;
$actionbar-blue-2: #7894EF;
$actionbar-color: #e9ebf5;
$gray: #D5D9DC;
$yellow: #ffc647;
$dark-yellow: darken($yellow, 20%);

/* Rules */

select {
  height: 30px;
  line-height: 30px;
  width: auto;
  margin-left: 0;
}

textarea {
  width: 90%;
  margin: auto;
  display: block;
}

#loading-gif {
  height: 85px;
  background-repeat: no-repeat;
  margin: 10px auto;
  width: 45px;
  min-height: 45px;
  background-image: url('../images/loading.gif');
}

/* reports.hbs */
.segmented-control .control-item {
  padding: 8px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.bar-header-secondary ~ .content > .table-view:first-child {
  margin-top: 0;
}

.table-view-cell.media {
  padding: 11px 15px;

  a:not(.btn) {
    margin: -11px -15px;
    min-height: 4rem;
  }

  .media-body {
    min-height: 4rem;
    font-size: 15px;
    line-height: 18px;
  }

  .media-object {
    text-align: center;
    img {
      border-radius: 50%;
      margin-top: 3px;
      width: 34px;
    }
    .fav {
      bottom: 0;
      color: $yellow;
      text-shadow: 1px 1px 1px $dark-yellow, 1px -1px 1px $dark-yellow, 
        -1px 1px 1px $dark-yellow, -1px -1px 1px $dark-yellow;
      font-size: 1.4rem;
      line-height: 30px;
      padding-top: 0.5rem;
      padding-bottom: 11px;
      position: absolute;
      width: 34px;
    }
  }
}

@include keyframes(highlight-report) {
  0% { background: yellow; }
  100% { background: none; }
}

.highlight-report {
  @include animation-duration(3s);
  @include animation-name(highlight-report);
}

/* reports/index.hbs */
#map-filter {
  padding: 5px;
  margin: 0;

  input[type=search] {
    margin-bottom: 0;
    width: calc(100% - 60px);
  }

  button {
    height: 35px;
  }
}

.address {
  font-size: 0.8rem;
  color: $actionbar-blue-1;
}

/* report.hbs */
.full-height {
  height: 100%;
}

.display-table {
  display: table;
}

.display-row {
  display: table-row;
}

.cell {
  display: table-cell;
  height: 0;
}

/* report/index.hbs */
.comments {
  height: calc(100% - 50px);
  overflow-y: scroll;

 .table-view-cell {
    min-height: 3rem;
    padding: 11px 15px;
    text-align: justify;
  }
}

.content > .table-view:first-child {
  margin: 0 !important;
  border: 1px solid $gray;
}

.buttons {
  clear: both;
  padding-top: 10px;
}

.map-canvas {
  width: 100%;
  min-height: 200px;
  height: 90%;
  height: calc(100% - 50px);
}

/* report/comments.hbs */
.less-important {
  color: gray;
  font-size: smaller;
}

/* report/new.hbs */
.themodal-overlay > .modal {
  background: white;
  border-radius: 3px;
  padding: 5px 10px 10px;
  margin: 10px;

  h1 {
    position: static;
  }
}

.full-width {
  width: 100%;
}

/* report/pictures.hbs */
.half-screen {
  margin: 1%;
  padding: 3px 0;
  float: left;
  clear: none;
  width: 48%;
  height: 120px;
  border: 1px dashed $gray;
  border-radius: 5px;
  text-align: center;

  img {
    max-height: 120px;
    max-width: 100%;
  }
}

.remove-image {
  @extend .btn-negative;
  position: absolute;
  opacity: 0.85;
}

.file-input {
  position: relative;
  height: 100%;

  .file-input-hidden {
    position: relative;
    text-align: right;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .fake-btn {
    position: absolute;
    font-size: 0.9rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
  }
}

.opacity-none {
  opacity: 0;
}

/* search.hbs */
.search {
  display: table;

  a {
    display: table-cell;
  }

  div {
    display: table-cell;
    width: 100%;
    
    input {
      width: 100%;
    }
  }
}

#no-margin, #no-margin > :first-child, #no-margin > :last-child {
  margin: 0;
}

.error-empty {
  padding: 20px;
  text-align: center;
}

.bar-nav {
  @include background-image(linear-gradient(to top, $actionbar-blue-1, $actionbar-blue-2));
}

.bar {
  .btn-link, .title {
    color: white;
  }
}
