html, body {
	width: 100%;
	position: relative;
	font-size: 16px;
	height: 100%;
}

.wrapper{
	width: 100%;
}

div.header{
	width: 100%;
	background-image: url('../images/header_bg.png');
	text-align: center;
	padding: 10px 0;
	position: fixed;
	top: 0;
  color: white;
}

div.list-wrapper{
	width: 100%;
	color: black;
	margin-top: 38px;
}

div.list-element{
	border-bottom: 1px solid #D5D9DC;
	padding: 10px 10px;
  background: -webkit-linear-gradient(red, green, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, green, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, green, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FEFEFE, #F9F9F9); /* Standard syntax */
}

div.list-element::after{
	content: '';
	clear: both;
	display: block;
}

div.side-col{
	float: right;
}

div.time{
	float: right;
	color: #A5A9AC;
  font-size: 0.8rem;
}

.img-tweet{
	display: none;
}

@media (orientation: landscape){
	div.side-col{
		text-align: center;
		width: 30%;
	}
	
	div.time{
		float: right;
	}
	.img-tweet{
		width: 100%;
		float:right;
		display: block;
	}
	
	.img-tweet > img{
		width: 100%;
	}
}

div.menu{
	position: fixed;
	top: 4%;
	left: 15%;
	width: 70%;
	height: 300px;
	background: #bbb;
	z-index: 100;
	text-align: center;
}

div.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.7;
	z-index: 1;
}

ul{
	list-style: none;
	padding-left: 0;
}

a{
	text-decoration: none;
	color: #0066FF;
	background: #FF9900;
	border-radius: 11px;
	padding: 12px 16px;
	display: inline-block;
	margin-top: 15px;
}

#colorbox{
	z-index: 1;
}

select{
	width: 100px;
	height: 30px;
	line-height: 30px;
}

#loading-gif{
	background-image: url('../images/loading.gif');
	height: 45px;
	background-repeat: no-repeat;
	margin: 10px auto;
	width: 42px;
	min-height: 45px;
}

