html, body {
	width: 100%;
	position: relative;
	font-size: 16px;
	height: 100%;
  background-color: #ddd;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  margin: 0;
  font-size: 1em;
}

h2{
  margin: 0;
  padding: 0;
  color: #6EACDE;
  font-size: 1.1rem;
}

.wrapper{
	width: 100%;
	position: relative;
}

div.header{
	width: 100%;
  background: -webkit-linear-gradient(#737477, #343538); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#737477, #343538); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#737477, #343538); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#737477, #343538); /* Standard syntax */
  border-bottom: 1px solid black;
  border-top: 1px solid #939497;
	text-align: center;
	padding: 14px 0;
	position: fixed;
	top: 0;
  color: white;
}

div.list-wrapper{
	width: 100%;
	color: black;
	margin-top: 45px;
}

div.list-element{
	border-bottom: 1px solid #D5D9DC;
	padding: 10px 10px;
  background: -webkit-linear-gradient(#FEFEFE, #F9F9F9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FEFEFE, #F9F9F9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FEFEFE, #F9F9F9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FEFEFE, #F9F9F9); /* Standard syntax */
}

div.list-element::after{
	content: '';
	clear: both;
	display: block;
}

div.side-col{
	float: right;
}

div.time{
	float: right;
	color: #A5A9AC;
  font-size: 0.9rem;
}

.img-tweet{
	display: none;
}

@media (orientation: landscape){
	div.side-col{
		text-align: center;
		width: 30%;
	}
	
	div.time{
		float: right;
	}
	.img-tweet{
		width: 100%;
		float:right;
		display: block;
	}
	
	.img-tweet > img{
		width: 100%;
	}
}

div.menu{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#777, #222); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#777, #222); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#777, #222); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#777, #222);
  z-index: 100;
}

div.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
}

ul{
	list-style: none;
	padding-left: 0;
  margin: 0;
  position: relative;
}

.rounded{
  border-radius: 8px;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.bubble{
  background: white;
  border-radius: 8px;
  padding: 2px 4px;
  position: absolute;
  right: 38px;
  font-size: 0.9rem;
  top: 13px;
  color: black;
}

ul.nav{
	text-align: center;
}

ul.nav li{
  background: -webkit-linear-gradient(#737477, #343538); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#737477, #343538); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#737477, #343538); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#737477, #343538); /* Standard syntax */
	padding: 2px 0;
	float: left;
  position: relative;
  border: 1px solid #939497;
	width: 25%;
	box-sizing: border-box;
}

ul.nav li.pull-left{

}

li.active{
	background: #6EACDE !important;
}

a{
	text-decoration: none;
  color: white;
}

li:active{
  background: #6EACDE !important;
  border-bottom: none;
}

.arrow{
  width: 13px;
  background-size: 10px 18px;
  background-repeat: no-repeat;
  height: 33px;
  top: 14px;
  right: 10px;
  position: absolute;
  background-image: url('../images/arrow.png');
}

div.new-tweet{
	width: 38px;
	height: 28px;
	position: absolute;
	top: 9px;
	right: 13px;
	background-size: cover;
	background-image: url('../images/new_msg_icon.png');
	background-repeat: no-repeat;
	border-radius: 5px;
}

div.new-tweet-background{
	width: 38px;
	height: 28px;
	position: absolute;
	top: 9px;
	right: 13px;
	background: -webkit-linear-gradient(#6BA9DB, #3E7CAE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#6BA9DB, #3E7CAE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#6BA9DB, #3E7CAE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#6BA9DB, #3E7CAE); /* Standard syntax */
	border-radius: 5px;
}

div.finder{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 11px;
	left: 20px;
	background-size: cover;
	background-image: url('../images/magnifying.png');
	background-repeat: no-repeat;
	border-radius: 5px;
}

div.finder-background{
	width: 38px;
	height: 28px;
	position: absolute;
	top: 9px;
	left: 13px;
	background: -webkit-linear-gradient(#6BA9DB, #3E7CAE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#6BA9DB, #3E7CAE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#6BA9DB, #3E7CAE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#6BA9DB, #3E7CAE); /* Standard syntax */
	border-radius: 5px;
}

a:active .new-tweet-background{
	background: -webkit-linear-gradient(#6BA9DB, #1E5C8E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#6BA9DB, #1E5C8E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#6BA9DB, #1E5C8E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#6BA9DB, #1E5C8E); /* Standard syntax */
}

a:active .finder-background{
	background: -webkit-linear-gradient(#6BA9DB, #1E5C8E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#6BA9DB, #1E5C8E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#6BA9DB, #1E5C8E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#6BA9DB, #1E5C8E); /* Standard syntax */
}

#colorbox{
	z-index: 1;
}

select{
	width: 100px;
	height: 30px;
	line-height: 30px;
}

#loading-gif{
	height: 85px;
	background-repeat: no-repeat;
	margin: 10px auto;
	width: 45px;
	min-height: 45px;
  background-image: url('../images/loading.gif');
}

.section-header{
  padding: 10px 0;
  text-align: center;
  margin-bottom: 0px;
  position: relative; 
}

div.tweetout{
	margin-top: 68px;
}

.menu-wrapper{
  height: 95%;
  overflow: scroll;
}

textarea{
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 50px;
}

select{
  width: auto;
  margin-left: 0;
}

button[type="submit"]{
  margin-left: 40px;
  width: 100px;
}

.controls{
  width: 285px;
  margin: auto;
}

.menu-icon{
	height: 35px;
	padding-top: 3px;
}



