/* Imports */

@import "compass";

/* Used by bootstrap */
  /* https://github.com/twbs/bootstrap-sass/issues/582 */
  /* $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"; */
  /* Starts bootstrap */
  /* @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"; */

@import "../bower_components/ratchet/sass/ratchet";
@import "CSS:flaticon";
/* http://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file */
/* @import "CSS:../bower_components/hook/hook"; */

/* Fix for Ratchicons, not loaded */
@font-face {
  font-family: 'Ratchicons';
  src: url('/bower_components/ratchet/fonts/ratchicons.eot');
  src: url('/bower_components/ratchet/fonts/ratchicons.eot?#iefix') format('embedded-opentype'),
  url('/bower_components/ratchet/fonts/ratchicons.woff') format('woff'),
  url('/bower_components/ratchet/fonts/ratchicons.ttf') format('truetype'),
  url('/bower_components/ratchet/fonts/ratchicons.svg#ratchicons') format('svg');
}

/* Mixins */

/* https://gist.github.com/ericam/1607696 */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation-duration($seg) {
  -webkit-animation-duration: $seg;
  -moz-animation-duration: $seg;
  animation-duration: $seg;
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  animation-name: $name;
}


/* Variables */

$actionbar-blue-1: #5476E8;
$actionbar-blue-2: #7894EF;
$actionbar-color: #e9ebf5;
$gray: #D5D9DC;
$yellow: #ffc647;

/* Rules */

.sub-header {
  height: 49px;
  position: fixed;
  background: #ddd;
  top: 48px;
  width: 100%;
  box-shadow: black 0 -1px 11px 0;
}

.filler {
  margin-top: 49px;
}

.list-wrapper {
  width: 100%;
  color: black;
}

.list-element {
  color: black;
  border-bottom: 1px solid $gray;
  padding: 10px;
  min-height: 64px;
  @include background-image(linear-gradient(to top, #FEFEFE, #F9F9F9));
}

.list-element::after {
  content: '';
  clear: both;
  display: block;
}

.img-report {
  display: none;
}

.report-new {
  margin-top: 10px;
}

select {
  height: 30px;
  line-height: 30px;
  width: auto;
  margin-left: 0;
}

textarea {
  width: 90%;
  margin: auto;
  display: block;
}

button[type="submit"] {
  margin-left: 40px;
  width: 100px;
}

.controls {
  width: 285px;
  margin: auto;
}

ul.nav li {
  @include background-image(linear-gradient(to top, #737477, #343538));
  padding: 2px 0;
  float: left;
  position: relative;
  border: 1px solid #939497;
  width: 25%;
  box-sizing: border-box;
}

ul.nav {
  text-align: center;
}

li:active {
  background: #6EACDE !important;
  border-bottom: none;
}

#loading-gif {
  height: 85px;
  background-repeat: no-repeat;
  margin: 10px auto;
  width: 45px;
  min-height: 45px;
  background-image: url('../images/loading.gif');
}

#search-field {
  margin: 10px;
  padding: 3px 0;
  width: 60%;
  display: inline-block;
  margin-left: 12px;
  border-radius: 5px;
  margin-top: 11px;
}

@media (orientation: landscape) {
  .img-report {
    width: 100%;
    float:right;
    display: block;
  }
  
  .img-report > img {
    width: 100%;
  }
}

/* reports.hbs */
.bar-header-secondary ~ .content > .table-view:first-child {
  margin-top: 0;
}

.table-view-cell.media {
  padding: 11px 15px;

  a:not(.btn) {
    margin: -11px -15px;
    min-height: 4rem;
  }

  .media-object {
    text-align: center;
    img {
      border-radius: 50%;
      margin-top: 3px;
    }
    .fav {
      color: $yellow;
      font-size: 1.5rem;
      padding-top: .5rem;
    }
  }
}

@include keyframes(highlight-report) {
  0% { background: yellow; }
  100% { background: none; }
}

.highlight-report {
  @include animation-duration(5s);
  @include animation-name(highlight-report);
}

/* reports/index.hbs */
.report-text {
  font-size: 1.5em;
  min-height: 3em;
}

#map-filter {
  padding: 5px;
  margin: 0;

  input[type=search] {
    width: calc(100% - 60px);
  }

  button {
    height: 35px;
  }
}

/* report.hbs */
.full-height {
  height: 100%;
}

.display-table {
  display: table;
}

.display-row {
  display: table-row;
}

.cell {
  display: table-cell;
  height: 0;
}

/* report/index.hbs */
.comments {
  height: calc(100% - 50px);
  overflow-y: scroll;

 .table-view-cell {
    min-height: 3rem;
    padding: 11px 15px;
    text-align: justify;
  }
}

.content > .table-view:first-child {
  margin: 0 !important;
  border: 1px solid $gray;
}

.buttons {
  clear: both;
  padding-top: 10px;
}

/* report/map.hbs */
.map-canvas {
  width: 100%;
  min-height: 200px;
  height: 90%;
  height: calc(100% - 50px);
}

/* report/new.hbs */
.input-row select {
  float: right;
  width: 65%;
  padding-left: 0px;
  margin-bottom: 0px;
  border: 0px none;
}

.themodal-overlay > .modal {
  background: white;
  border-radius: 3px;
  padding: 5px 10px 10px;
  margin: 10px;

  h1 {
    position: static;
  }
}

.full-width {
  width: 100%;
}

/* report/pictures.hbs */
.half-screen {
  margin: 1%;
  padding: 3px 0;
  float: left;
  clear: none;
  width: 48%;
  height: 120px;
  border: 1px dashed $gray;
  border-radius: 5px;
  text-align: center;

  img {
    max-height: 120px;
    max-width: 100%;
  }
}

.remove-image {
  @extend .btn-negative;
  position: absolute;
  opacity: 0.85;
}

.opacity-none {
  opacity: 0;
}

/* search.hbs */
.search {
  display: table;

  a {
    display: table-cell;
  }

  div {
    display: table-cell;
    width: 100%;
    
    input {
      width: 100%;
    }
  }
}

#no-margin, #no-margin > :first-child, #no-margin > :last-child {
  margin: 0;
}

.error-empty {
  padding: 20px;
  text-align: center;
}

.bar-nav {
  @include background-image(linear-gradient(to top, $actionbar-blue-1, $actionbar-blue-2));
}
.bar .btn-link, .bar .title {
  color: white;
}

.icon-8 {
  width: 26px !important;
  height: 26px !important;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.world-map {
  background-image: url("/images/world_map-25.png");
}
.active .icon.world-map {
  background-image: url("/images/world_map-26.png");
}
