<div class="list-wrapper">
    {{#if model}}
    	{{#each itemController='tweet'}}
    		<div class="list-element">
    			<div class="main-col">
    				<div class="side-col">
    					<div class="time">
    						{{timePassed}}
    					</div>
    					{{#if controller.image}}
    						<div class="img-tweet">
    							<img {{bind-attr src="controller.image"}}>
    						</div>
    					{{/if}}
    				</div>
    				{{{text}}}
    			</div>
    		</div>
    	{{/each}}
    	<div class="list-element">
    			<div id="loading-gif">
    			</div>
    	</div>
    {{else}}
	<div class="list-element">
		<div class="main-col">
			Todavía no hay tweets en este canal
		</div>
	</div>
    {{/if}}
</div>

<script>
// function imageColorBox(){
// 	console.log('imageColorBox');
// 	setTimeout(function(){
// 		$('img').each(function(){
// 			$this = $(this);
// 			href = $this.attr('src')
// 			console.log(href);
// 			$this.colorbox({href:href, height:"100%",fixed:true, closeButton:false});
// 		});
// 		$('#cboxContent').on('click', function(){
// 			$.colorbox.close();
// 		});
// 	}, 2000);
// 
// $(window).on('hashchange', function() {
//   imageColorBox();
// });
// 
// }
// 
// $(imageColorBox)
</script>