<div class="list-wrapper">
	<form {{action "tweet" on="submit"}}>
		{{view Ember.Select value=selectedChannel content=channels optionValuePath="content.value" optionLabelPath="content.label"}}
		<br />
		{{focus-text-area value=text cols="23" rows="2"}}
		<br />
		<button type="submit">Envia!</button>
	</form>
</div>