<button {{action 'goBack' 'reports'}} class="btn btn-link btn-nav pull-left">
  <span class="icon icon-left-nav"></span>
  Atrás
</button>
{{#link-to 'report.comment' model tagName='button' class='btn btn-link btn-nav pull-right'}}
  Comentar
  <span class="icon icon-compose"></span>
{{/link-to}}