{{#if comments}}
<div class="cell">
  <ul class="table-view comments">
    <li class="table-view-divider">Comentarios</li>
    {{#each comment in filteredComments}}
    <li class="table-view-cell">
      {{comment.formattedText}}
      <div class="pull-right less-important">
         — <strong>{{comment.user.screenName}}</strong> {{comment.timePassed}}
      </div>
    </li>
    {{/each}}
  </ul>
</div>
{{else}}
<div class="error-empty">
  <em>No hay ningún comentario todavía.</em><br>
  Si quieres aportar a esta noticia {{#link-to 'report.comment' model}}escribe un comentario{{/link-to}}.
</div>
{{/if}}
