<nav class="bar bar-nav">
  {{#link-to 'reports' model.channel tagName='button' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
    Noticias
  {{/link-to}}
  {{#link-to 'report.upload' tagName='button' class='btn btn-link btn-nav pull-right'}}
    <span class="icon icon-up"></span>
    Subir foto
  {{/link-to}}
</nav>

<div class="content">
{{#if model.pictures}}
  {{view Tweetsaster.SlideshowView pictures=model.pictures}}
{{else}}
  <article class="content-padded">
    <p>No hay im&aacute;genes subidas <i>todav&iacute;a</i></p>
  </article>
{{/if}}
</div>