{{#if model.allPictures}}
  {{view 'slideshow' pictures=model.allPictures}}
{{else}}
  <div class="error-empty">
    <i>No hay imágenes subidas todavía</i><br>
    ¿Tienes fotos para compartir? <a {{action 'showSelectPhotos'}}>Súbelas</a>
  </div>
{{/if}}
