<button {{action 'goBack' 'reports'}} class="btn btn-link btn-nav pull-left">
  <span class="icon icon-left-nav"></span>
  Atrás
</button>
<button {{action 'showSelectPhotos'}} class="btn btn-link btn-nav pull-right">
  <span class="icon icon-up"></span>
  Subir foto
</button>