{{#if model.inReplyToStatus.allPictures}}
  {{view 'slideshow' pictures=model.inReplyToStatus.allPictures}}
{{else}}
  <div class="error-empty">
    No hay im&aacute;genes subidas <i>todav&iacute;a</i><br>
    ¿Tienes fotos para compartir? <button class="btn btn-link" {{action 'showSelectPhotos'}}>Súbelas</button>
  </div>
{{/if}}
