<div class="content">
  {{outlet}}
</div>

<nav class="bar bar-tab">
  {{#link-to 'report.index' class='tab-item' replace=true}}
    <span class="icon"><img class="tabs-img" src="images/info-25.png"></span>
    <span class="tab-label">Informaci&oacute;n</span>
  {{/link-to}}
  {{#link-to 'report.map' class='tab-item' replace=true}}
    <span class="icon"><img class="tabs-img" src="images/waypoint_map-25.png"></span>
    <span class="tab-label">Lugar</span>
  {{/link-to}}
  {{#link-to 'report.pictures' class='tab-item' replace=true}}
    <span class="icon"><img class="tabs-img" src="images/picture-25.png"></span>
    <span class="tab-label">Fotos</span>
  {{/link-to}}
</nav>