<nav class="bar bar-nav">
  {{#link-to 'search' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-search"></span>
    Buscar
  {{/link-to}}
  {{#link-to 'reports.new' class='btn btn-link btn-nav pull-right'}}
    Redactar
    <span class="icon icon-plus"></span>
  {{/link-to}}
</nav>

<div class="bar bar-standard bar-header-secondary">
  <div class="segmented-control">
    {{#link-to 'reports.index' class='control-item'}}
      Todas las noticias
    {{/link-to}}
    {{#link-to 'reports.geolocated' lat lng within class='control-item'}}
      Por ubicación
    {{/link-to}}
  </div>
</div>

<div class="content">
  {{outlet}}
</div>

{{outlet footer}}
