{{outlet}}

<nav class="actionbar actionbar-default actionbar-fixed-bottom">
  <div class="container">
    <ul class="actionbar-nav actionbar-tabs">
      {{#link-to 'tweet.index' tagName='li' replace=true}}
        <a>
          <img class="tabs-img" src="images/info-25.png">
          <p>Informaci&oacute;n</p>
        </a>
      {{/link-to}}
      {{#link-to 'tweet.map' tagName='li' replace=true}}
        <a>
            <img class="tabs-img" src="images/waypoint_map-25.png">
            <p>Lugar</p>
        </a>
      {{/link-to}}
      {{#link-to 'tweet.pictures'  tagName='li' replace=true}}
        <a>
            <img class="tabs-img" src="images/picture-25.png">
            <p>Fotos</p>
        </a>
      {{/link-to}}
    </ul>
  </div>
</nav>