<div class"wrapper">
	<div class="header">
			{{title}}
	</div>
	{{outlet}}
</div>

<div class="menu" style="display: none">
	<ul>
		<li>
			{{#link-to 'tweets'}}Todas{{/link-to}}
		</li>
		<li>
			{{#link-to 'tweets.earthquakes'}}Terremotos{{/link-to}}
		</li>
		<li>
			{{#link-to 'tweets.fires'}}Incendios{{/link-to}}
		</li>
		<li>
			{{#link-to 'tweets.tweetout'}}Componer Msj{{/link-to}}
		</li>
	</ul>
</div>

<div style="display: none" class="overlay"></div>
	

<script>
	function tapToMenu(){
		var dragging=false;
		$menu = $('.menu');
		$overlay = $('.overlay');
		
		$(document).on('touchmove', function(e){
			dragging = true;
		});
		
		$(document).on('touchend', function(e){
			
			//if showing menu it doesn't disappear if touching inside it
			//also doesn't fire if dragging
			if($(e.target).parents().hasClass('menu') || $(e.target).hasClass('menu') || dragging || 
				$(e.target).parents().is('form') || $(e.target).is('img')){
				dragging = false;
				return;
			}
			e.preventDefault();
			if($menu.css('display') == 'none'){
				$menu.show();
				$overlay.show();
			} else {
				$menu.hide();
				$overlay.hide();
			}
		});
	}
	
	function hideMenu(){
		$('.menu a').on('click', function(){
			$menu.hide();
			$overlay.hide();
		});
	}
	$(tapToMenu);
	$(hideMenu);
</script>