<div class"wrapper">
	<div class="header">
			{{title}}
	</div>
	{{outlet}}
</div>

<div class="menu" style="display: none">
	<ul>
		<li>
			{{#link-to 'tweets'}}Todas{{/link-to}}
		</li>
		<li>
			{{#link-to 'tweets.earthquakes'}}Terremotos{{/link-to}}
		</li>
		<li>
			{{#link-to 'tweets.fires'}}Incendios{{/link-to}}
		</li>
		<li>
			{{#link-to 'tweets.tweetout'}}Componer Msj{{/link-to}}
		</li>
	</ul>
</div>

<div style="display: none" class="overlay"></div>