<div class="hook" id="hook"></div>
<div class="spacer"></div>
<div class="wrapper">
	<div class="header">
		<button {{action 'toggleSearchBar'}} class="btn" id="top-left-icon">
	        <div class="finder"></div>
		</button>
		<h1>{{title}}</h1>
		{{#link-to 'tweets.tweetout'}}
        <div class="new-tweet-background"></div>
        <div class="new-tweet"></div>
		{{/link-to}}
	</div>
	{{#if searchBarVisible}}
	<div class="filler"></div>
	<div class="sub-header">
		<input type"text" id="search-field">
		<!-- TODO: api -->
		<button {{action 'CALL_TO_API'}} class="btn" id="search-btn">busca</button>
	</div>
	
	{{/if}}
    
	{{outlet}}
    <footer>
		<ul class="nav">
					{{#link-to 'tweets.index' tagName="li"}}
					<img class="menu-icon" src="images/bell.png">
					{{/link-to}}
			
					{{#link-to 'tweets.earthquakes' tagName="li" class="pull-left"}}
					<img class="menu-icon" src="images/earthquake.png">
					{{/link-to}}
			
			
					{{#link-to 'tweets.fires' tagName="li" class="pull-left"}}
					<img class="menu-icon" src="images/flame.png">
					{{/link-to}}
			
			
					{{#link-to tagName="li" class="pull-left"}}
					<img class="menu-icon" src="images/dots.png">
					{{/link-to}}
			
		</ul>
    </footer>
</div>