<nav class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-search"></span>
    Buscar
  </button>
  <button class="btn btn-link btn-nav pull-right">
    Redactar
    <span class="icon icon-plus"></span>
    </button>
</nav>


{{#if searchBarVisible}}
  {{search-bar hide='toggleSearchBar' search='getMoreSearch'}}
{{/if}}

<div class="content">
  <div class="hook" id="hook"></div>
  {{outlet}}
</div>

<nav class="bar bar-tab">
  {{#link-to 'tweets.index' class='tab-item' replace=true}}
    <span class="icon icon-8 world-map"></span>
    <span class="tab-label">Cercanos</span>
  {{/link-to}}
  {{#link-to 'tweets.earthquakes' class='tab-item' replace=true}}
    <span class="icon icon-8 earthquakes"></span>
    <span class="tab-label">Terremotos</span> 
  {{/link-to}}
  {{#link-to 'tweets.fires' class='tab-item' replace=true}}
    <span class="icon icon-8 fires"></span>
    <span class="tab-label">Incendios</span>
  {{/link-to}}
  {{#link-to 'tweets.floods' class='tab-item' replace=true}}
    <span class="icon icon-8 floods"></span>
    <span class="tab-label">Inundaciones</span>
  {{/link-to}}
</nav>
