<div class="wrapper">
	<div class="header">
			<h1>{{title}}</h1>
			{{#link-to 'tweets.tweetout'}}
            <div class="new-tweet-background"></div>
            <div class="new-tweet"></div>
			{{/link-to}}
	</div>
	{{outlet}}
    <footer>
		<ul class="nav">
			{{#link-to 'tweets.index'}}
				<li>
                    TO
				</li>
			{{/link-to}}
			{{#link-to 'tweets.earthquakes'}}
				<li>
					TE
				</li>
			{{/link-to}}
			{{#link-to 'tweets.fires'}}
				<li>
					IN
				</li>
			{{/link-to}}
			{{#link-to }}
				<li>
					..
				</li>
			{{/link-to}}
		</ul>
    </footer>
</div>