<div class"wrapper">
	<div class="header">
			<h1>{{title}}</h1>
	</div>
	{{outlet}}
</div>

<div class="menu" style="display: none">
	<div class="menu-wrapper">
		<div class="section-wrapper">
			<div class="section-header">
				<h2>Canales</h2>
			</div>
			<ul class="nav">
				{{#link-to 'tweets'}}
					<li class="rounded-top">
						Todas
						<span class="bubble">100</span>
						<div class="arrow">
					</li>
				{{/link-to}}
				{{#link-to 'tweets.earthquakes'}}
					<li>
						Terremotos
						<span class="bubble">150</span>
						<div class="arrow">
					</li>
				{{/link-to}}
				{{#link-to 'tweets.fires'}}
					<li class="rounded-bottom">
						Incendios
						<span class="bubble">200</span>
						<div class="arrow">
					</li>
				{{/link-to}}
			</ul>
		</div>
		<div class="section-wrapper">
			<div class="section-header">
				<h2>Acciones</h2>
			</div>
			<ul class ="nav">
				{{#link-to 'tweets.tweetout'}}
					<li class="rounded">
						Componer Mensaje
						<div class="arrow">
					</li>
				{{/link-to}}
			</ul>
		</div>
	</div>
</div>

